<div ng-controller="findRouteController">

  <form role="form" name="startStopForm" ng-controller="startStopFormController"
        ng-submit="findRoute(); hideSuggested('start'); hideSuggested('stop');">

    <div class="form-group">
      <label for="start">Początek podróży</label>
      <input type="text" class="form-control pd-input" id="start" placeholder="Początek podróży"
             name="start"
             tabindex="1"
             ng-model="searchParams.start"
             ng-change="onFieldChange('start')"
             ng-focus="hideSuggested('stop')"
             required>
      <div ng-show="showSuggestion.start">
        <a class="pd-hide" href ng-click="hideSuggested('start')">x</a>
        <ul>
          <li ng-repeat="suggestion in suggested.start">
            <a href ng-click="select(suggestion, 'start')">
              {{ suggestion.description }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="start">Koniec podróży</label>
      <input type="text" class="form-control pd-input" id="stop" placeholder="Koniec podróży"
             name="stop"
             tabindex="1"
             ng-model="searchParams.stop"
             ng-change="onFieldChange('stop')"
             ng-focus="hideSuggested('start')"
             required>
      <div ng-show="showSuggestion.stop">
        <a class="pd-hide" href ng-click="hideSuggested('stop')">x</a>
        <ul>
          <li ng-repeat="suggestion in suggested.stop">
            <a href ng-click="select(suggestion, 'stop')">
              {{ suggestion.description }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <button type="submit" tabindex="1" class="btn btn-pd-ui" 
            ng-disabled="startStopForm.$invalid"
            ng-focus="hideSuggested('start'); hideSuggested('stop');">Wyznacz trasę</button>

  </form>
</div>
<modal name="directionSearchModal"
       template-url="'views/direction-search-modal.html'"
       adapter="bootstrapAdapter"
       controlled-by="directionSearchModalController"></modal>