<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content pd-modal">
      <div class="modal-header">
        <h4 class="modal-title">Please wait while we find available routes</h4>
      </div>
      <div class="modal-body">
        <span class="places-loader">{{ currentIdx }} / {{ totalLen }}</span>
        <div class="compass-loader"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-pd-ui"
                ng-disabled="!$modal"
                ng-click="close()">Cancel</button>
      </div>
    </div>
  </div>
</div>