<div ng-controller="selectSearchParamsController">
  <div>
  From: <strong>{{ mainRoute.start.place.formatted_address }}</strong>
  To: <strong>{{ mainRoute.stop.place.formatted_address }}</strong>
  ({{ mainRoute.distance > 1000 ? mainRoute.distance/1000 + ' km' : mainRoute.distance + ' m' }})
  </div>
  <div>
    <form name="selectVenuesForm"
          ng-submit="findPlaces()"
          ng-controller="selectVenuesFormController">
      <div class="form-group">
        <input type="text" id="keywords" class="form-control pd-input" placeholder="Słowa kluczowe, np. zamek"
               ng-model="keyword">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-pd-ui">Szukaj</button>
      </div>
    </form>
  </div>
</div>
<modal name="placesSearchModal"
       template-url="'views/places-search-modal.html'"
       adapter="bootstrapAdapter"
       controlled-by="placesSearchModalController"></modal>