<div ng-controller="selectSearchParamsController">
  <div>
  From: <strong>{{ mainRoute.start.place.formatted_address }}</strong>
  To: <strong>{{ mainRoute.stop.place.formatted_address }}</strong>
  ({{ mainRoute.distance > 1000 ? mainRoute.distance/1000 + ' km' : mainRoute.distance + ' m' }})
  </div>
  <div>
    <form ng-controller="selectVenuesForm">
      <div>
        <input type="checkbox" id="parks">
        <label for="parks">Parki i miejsca rekreacji</label>
      </div>
      <div>
        <input type="checkbox" id="hotels">
        <label for="hotels">Hotele, hostele i kempingi</label>
      </div>
      <div>
        <input type="checkbox" id="food">
        <label for="food">Restauracje i bary</label>
      </div>
      <div>
        <input type="checkbox" id="museums">
        <label for="museums">Restauracje i bary</label>
      </div>
    </form>
  </div>
</div>