<h1 class="logo">
  <a href="/" title="PoDrodze.net">
    <img src="/images/logo.png" width="198" height="48" alt="Logo podrodze.net"/>
  </a>
</h1>
<h2>Jedziesz gdzieś? Znajdź ciekawe miejsca po drodze!</h2>

<div ng-if="searchboxes">
  <hr>
  <ng-include src="'views/find-route.html'"></ng-include>
</div>

<div ng-if="queryboxes">
  <hr>
  <ng-include src="'views/search-params.html'"></ng-include>
</div>

<div ng-if="results">
  <hr>
  <ng-include src="'views/results.html'"></ng-include>
</div>